.projects-contain
	h2
		margin-top: 50px	
	img
		width: 100px
		margin-left: auto
		height: 300px
		padding-right: 30px
		padding-left: 30px
		width: auto
		height: auto	
	p	
		margin-right: 100px
.projects-contain1
	h2
		margin-top: 50px
	img
		width: 100px
		margin-left: 11rem
		margin-top: 50px
	p
		margin-top: 50px			

.projects-contain1 .bulma
	img
		height: 100px
		width: 200px
