.skills-contain
	h3
		margin-top: 50px
		margin-bottom: 50px	
	img
		width: auto !important
		height: 150px !important
		margin-top: 100px
.skills-contain1
	h3
		margin-top: 50px
	img
		width: auto !important
		height: 200px !important
		margin-top: 50px			